<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>10</ApplicationRevision>
    <ApplicationVersion>5.1.5.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <MinimumRequiredVersion>5.1.5.5</MinimumRequiredVersion>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0-windows10.0.17763.0\app.publish\</PublishDir>
    <PublishUrl>\\192.168.132.137\publish\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(无)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <TargetFramework>net8.0-windows10.0.17763.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>True</UpdateRequired>
    <UpdateUrl>\\192.168.132.137\publish\</UpdateUrl>
    <WebPageFileName>Publish.html</WebPageFileName>
    <SkipPublishVerification>false</SkipPublishVerification>
    <History>True|2025-07-04T09:07:36.8811129Z||;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.6.0.x64">
      <Install>true</Install>
      <ProductName>.NET 桌面运行时 6.0.36 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>