<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings"
					  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Lims.Main.Properties.Settings"
					 type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					 allowExeDefinition="MachineToLocalUser"
					 requirePermission="false" />			
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="ServiceRoutePath"
			 value="http://localhost:9999/" />	
		<add key="CommonDiskRootPath"
			 value="192.168.3.34" />
		<add key="LimsPath"
			 value="\\192.168.3.34\微生物测试中心公共盘\LIMS" />		
		<add key="autoLogin"
			 value="false" />
		<add key="userID"
			 value="" />
		<add key="passWord"
			 value="" />
		<add key="loginedUserIDs" value=""/>

		<add key="CurrentPrinterIndex"
			 value="2" />

		<add key="AllowAutoRounding" value="True"/>

		<!--<add key="IsUrgent" value="false"/>
		<add key="TaskType" value="一般检验"/>
		<add key="SampleCode" value="2024-0"/>
		<add key="SampleName" value=""/>
		<add key="SampleRemark" value=" "/>
		<add key="LastMicroorganismTester" value="0"/>-->

		<!--<add key="SelectedSampleStateIndex" value="0"/>-->
		<!--<add key="CurrentHeight" value="1.618*"/>
		<add key="CurrentWidth" value="3.6*"/>-->

	</appSettings>

	<userSettings>
		<Lims.Main.Properties.Settings>
			<setting name="LogicalState"
					 serializeAs="String">
				<value />
			</setting>
			<setting name="VisualState"
					 serializeAs="String">
				<value />
			</setting>
		</Lims.Main.Properties.Settings>
	</userSettings>
</configuration>